*{
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  font-size: 14px;
}

h1{
  font-size: 20px;
  font-weight: bolder;
}

.container{
  margin: 0px;
  padding: 0px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 460px){
  .container{
    margin: 10px;
    padding: 10px;
  }

  .subforum-row{
    display: grid;
    grid-template-columns: 25% 75% ;
    grid-template-rows: 65% 35%;
  }  
}



