.register{
    width: 100vw;
    height: 100vh;
    background-color: #ede7f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerWrapper{
    display: flex;
    width: 70%;
    height: 60%;
}

.registerLeft,.registerRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerLogo{
    font-size: 50px;
    font-weight: 800;
    color: blueviolet;
    margin-bottom: 10px;
}

.registerDesc{
    font-size: 24px;
}

.registerTitle{
    font-size: 20px;
    height: 40px;
    align-self: center;
}

.registerBox{
    height: 400px;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerInput{
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 15px;
    padding-left: 20px;
}

.registerInput:focus{
    outline: none;
}

.registerButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #303f9f;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.registerForgot{
    text-align: center;
    color:  #1775ee;
}

.registerRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #9ccc65;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}